@charset "ISO-8859-1";
body{
	background: url("../images/fondo1.jpg") no-repeat;
	background-size: cover;
	
}


.main_container{
	margin: auto;
	width: 25%;
	margin-top: 200px;
	
}


.logo{
	margin: auto;
	height: 200px;
	position: relative;
	left: 25%;
}
.form-busqueda{
	margin: auto;
	width: 100%;
}

h1, #busqueda{
	text-align: center; 
}

#receta{
	margin-bottom: 15px;
}